.container {
  margin-top: 200px;
  margin-left: 30%;
}
input {
  width: 50%;
}
button {
  margin-top: 1em;
  margin-left: 3.7em;
  cursor: pointer;
}

ul li {
  list-style: none;
  padding: 2em;
  display: inline;
}
form {
  position: absolute;
  width: 50%;
  bottom: 4em;
}

h3 {
  text-align: center;
}
