.side-bar {
  position: absolute;
  background-color: #202223;
  width: 25%;
  top: 100px;
  left: 0;
  bottom: 0;
}
.nb-photo {
  margin-top: 2em;
  justify-content: center;
  margin-left: 15%;
  width: 70%;
  margin-bottom: 2em;
}
hr {
  width: 80%;
}
h1 {
  text-align: center;
  color: rgb(202, 189, 189);
}
p {
  text-align: center;
  padding: 1em;
  color: rgb(202, 189, 189);
  font-family: Georgia, serif;
}
